<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
<!-- <link rel="stylesheet" type="text/css" href="stylesheets/index.css"> -->
<link rel="preload" href="stylesheets/index.css" as="style" onload="this.rel='stylesheet'">
<link href="https://fonts.googleapis.com/css?family=Metal+Mania&display=swap" rel="stylesheet">
<link  type="text/css" rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
<link type="text/css" href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:400,700&display=swap" rel="stylesheet">

<title>Dennis's Portfoilo Page</title>  
</head>
<container>
<body> 
<!--start of nav bar-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="#">Dennis</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                  <ul class="navbar-nav">
                    <li class="nav-item active">
                      <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                      <a class="nav-link" href="#webprojects">Web Projects</a>
                    </li>
                      <li class="nav-item active">
                        <a class="nav-link" href="#gameprojects">Game Projects</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#certs">Certifications</a>
                    </li>
                  </ul>
                    <div class="collapse navbar-collapse nav-item d-flex justify-content-end">
                      <a id="navIcon" class="nav-link" href="https://github.com/MenacingGamer"><i class="fab fa-github"></i></a>
                      <a id="navIcon" class="nav-link" href="https://www.linkedin.com/in/dennis-vanatta-796414130"><i class="fab fa-linkedin"></i></a>
                    </div>
                 
                </div>
              </nav>