<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
<link rel="stylesheet" type="text/css" href="stylesheets/index.css">
<link href="https://fonts.googleapis.com/css?family=Metal+Mania&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

<title>Dennis's Portfoilo Page</title>  
</head>
<container>
<body> 
<!--start of nav bar-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="#">Dennis</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                  <ul class="navbar-nav">
                    <li class="nav-item active">
                      <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                      <a class="nav-link" href="#webprojects">Web Projects</a>
                    </li>
                      <li class="nav-item active">
                        <a class="nav-link" href="#gameprojects">Game Projects</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#certs">Certifications</a>
                    </li>
                  </ul>
                </div>
              </nav>
<!--end of nav bar-->
<!--start of jumbotron-->  
        <div class="jumbotron">
            <div class="text-center">
                   <div class="title">
                        <h1>Dennis VanAtta</h1>
                   </div>
                   <div class="tag_line">
                        <h3>Passonate software developer who love's building and learning!</h3>
                   </div>
            </div> 
            <div class="text-center">
                <div class="icons">
                        <i class="fab fa-js-square"></i>
                </div>
                <div class="icons">
                        <i class="fab fa-node"></i>
                </div>
                <div class="icons">
                        <i class="fab fa-react"></i>
                </div>
                <div class="icons">
                        <i class="fab fa-npm"></i>
                </div>
                <div class="icons">
                        <i class="fab fa-git-square"></i>
                </div>
            </div>
        </div>
        <br>
<!--end of jumbotron-->
<!-- this is the strt of the projects section -->
<section id="webprojects">
    <div class="text-center">
        <div>
            <h1 id="sectionTitle" class="display-1">Website Projects</h1>
        </div>
           <br>
           <div id="web" class="container-fluid">
            <div class="card-deck">
                    <div class="card zoom">
                      <img src="imgs/speedweb.png" class="card-img-top hoverable" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Diagspeed.com</h5>
                        <p class="card-text">Made a page for this clinet's shopify website for his locksmith's. Used bootstrap and css to list all the locksmiths.
                          This page is fully responive for any device. </p>
                        <a type="button"class="btn btn-md btn-success" href="https://diagspeed.com/pages/find-local-locksmiths">Website</a>
                      </div>
                    </div>
                    <div class="card zoom">
                      <img src="imgs/YelpCamp.png" class="card-img-top hoverable" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Yelp Camp</h5>
                        <p class="card-text">Boot camp project that uses the men stack and bootstrap where you can sign up and create an account review and add campgrounds.
                          Using restful routing and crud express and ejs on the backend, this was a lot of fun to make. If you have a campground you want to add
                          go ahead and sign up and add something cool.
                        </p>
                        <a type="button"class="btn btn-md btn-success" href="https://secret-journey-30145.herokuapp.com">Website</a>
                      </div>
                    </div>
                    <div class="card zoom">
                      <img src="imgs\MainMenu.PNG" class="card-img-top hoverable" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Back Spin</h5>
                        <p class="card-text">Game made in unity back when you could write in Javascript only two levels and some bugs! One of the first game i made.Enjoy!</p>
                        <a type="button"class="btn btn-md btn-success" href="game">Play Game</a>
                      </div>
                    </div>
                  </div>
             </div>
          </div>
</section>       

<section id="gameprojects">
  <div class="text-center">
      <div>
          <h1 id="sectionTitle" class="display-1">Game Projects</h1>
      </div>
         <br>
         <div id="game" class="container-fluid">
          <div class="card-deck">
                  <div class="card zoom">
                    <img src="imgs/ColorGame.png" class="card-img-top hoverable" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">RGB Color Game</h5>
                      <p class="card-text">This game is made using good old fashioned HTML, CSS and Javascript no 
                        libraries or frameworks give it a try and see how good you are with your RGB'S. </p>
                      <a type="button"class="btn btn-md btn-success" href="colorGame">Play Game</a>
                    </div>
                  </div>
                  <div class="card zoom">
                    <img src="imgs/colorGame.jpg" class="card-img-top hoverable" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Tap Tap Color Game</h5>
                      <p class="card-text">This game i used two js libraries howler.js and paper.js.
                        howler.js to play the sounds and paper.js to animate the circles.
                        Give it a try, it is super addicting to play.</p>
                      <a type="button"class="btn btn-md btn-success" href="colorPlayer">Play Game</a>
                    </div>
                  </div>
                  <div class="card zoom">
                    <img src="imgs/MainMenu.PNG" class="card-img-top hoverable" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Back Spin</h5>
                      <p class="card-text">Game made in unity back when you could write in Javascript only two levels and some bugs! One of the first game i made.Enjoy!</p>
                      <a type="button"class="btn btn-md btn-success" href="game">Play Game</a>
                    </div>
                  </div>
                </div>
           </div>
        </div>
</section>  

<section id="certs">
  <div class="text-center">
    <div>
      <h1 id="sectionTitle" class="display-1">Udemy Certificates</h1>
    </div>
      <div class="row">
        <div class="col-md-4">
          <h3>The Web Developer bootcamp</h3>
          <img src="imgs/web_cert.png" class="thumbnail">
          <p>bhshbs skdbsdb jsj snnsn skndido dnoiwnoidsodh sninniona annf.
            ububuefnunu jsnd djndn sss nunduouos soaubn uhudbis.
          </p>
        </div>
        <div class="col-md-4">
            <h3>Unity C# Developer course</h3>
            <img src="imgs/unity_cert.png" class="thumbnail">
            <p>bhshbs skdbsdb jsj snnsn skndido dnoiwnoidsodh sninniona annf.
              ububuefnunu jsnd djndn sss nunduouos soaubn uhudbis.
            </p>
          </div>
          <div class="col-md-4">
              <h3>Javascript understanding<br> the wierd parts</h3>
              <img src="imgs/javaCert.jpg" class="thumbnail">
              <p>bhshbs skdbsdb jsj snnsn skndido dnoiwnoidsodh sninniona annf.
                ububuefnunu jsnd djndn sss nunduouos soaubn uhudbis.
              </p>
            </div>
      </div>
    </div>
</section>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</container>
</html>