.jumbotron{
	background-image: url('../imgs/diamond_plate.jpg');
	background-size: cover;
    background-repeat: no-repeat;
    
} 
.title h1{
    font-family: 'Metal Mania', cursive;
    font-size: 10em; 
    color: #1f4b91;
    -webkit-text-stroke-width: 2px;
   -webkit-text-stroke-color: black;
    letter-spacing: 0.1em;
}
.icons{
    font-size: 5em;
    display: inline;
    -webkit-text-stroke-width: 2px;
   -webkit-text-stroke-color: #1f4b91;
}
 
.card .zoom{
    padding: 50px;
    transition: transform .2s; /* Animation */
    width: 50%;
   min-height: 50%;
    margin: 0 auto;
}
 .card{

    width: 25%;
    min-height: 25%;
}

.zoom:hover {
    transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }
  #game{
      margin-bottom: 50px;
  }
  #web{
    margin-bottom: 50px;
  }
   .thumbnail{
      width: 450px;
      height: 350px;
  }
  #sectionTitle {
      margin-bottom: 100px;
  }
